

body {
    background-color: #F0F0F0;
    position: fixed;
    width: 100%;
}

img {
    width: 30%;
    margin-top: -5%;
}

.white-block {
    background-color: white;
    margin-top: 12%;
    padding: 0;
    height: 11em;

}

.logo-image {
    width: 38%;
    position: relative;
    bottom: 27%;
}

.codeup-text {
    margin-top: 10%;
}

.thin-font {
    font-family: 'Abel', sans-serif;
}

.thick-font {
    font-family: 'Anton', sans-serif;
}

div.header-font h1 {
    font-size: 8em;
}

.fluid-container {
    padding: 1.5em;
}

ul.nav {
    display: block;
    margin: 2.2em auto 0 auto;
}

ul.nav li {
    display: inline-block;
    margin: 1em;
}

ul.nav li a {
    color: black;
    font-size: 3em;
}

h1.thick-font {
    font-size: 8em;
    margin-top: 1em;

}

h2.thick-font {
    font-size: 5em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.circle {
    height: 25em;
    width: 25em;
    border-radius: 50%;
    display: inline-block;
    border: 1.5em white solid;
}


.center-txt {
    font-size: 4em;
    display: block;
    margin-top: 30%;
}

.select {
    margin-top: 6em;
}